/public/
/resources/_gen/
/assets/jsconfig.json
.hugo_build.lock
hugo_stats.json

.DS_Store
Thumbs.db
*.swp
*~

node_modules/
.direnv/
.env
.env.*

/main.rs
/old_files/
*.docx
/terminal-sharing.html
/zellij-online.html
